#DomMenu {
    position: absolute;
    left: 5px;
    padding-left: 15px;
    user-select: none;
}

#DomMenu li {
    display: block;
    cursor: pointer;
    color: teal;
    text-shadow: #DDD 2px 1px 1px;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    list-style-type: none
}

#DomMenu li:hover {
    color: rgb(111, 212, 184);
    text-shadow: #EEE 2px 1px 1px;
}

#DomMenu li:focus {
    color: #FFF;
}

#DomTags {
    padding-left: 5px;
    margin-left: 70px;
}

#DomTags li {
    list-style-type: none;
    width: 160px;
    height: 22px;
    border: 2px solid #13a998;
    border-radius: 6px;
    margin-bottom: 5px;
    text-align: center;
    padding: 3px 3px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s linear;
}

#DomTags li:hover {
    background: linear-gradient(to top left, #30b4a5, #0c8579);
    color: #FFF;
}

 ::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

::-webkit-scrollbar-thumb:hover {
    width: 14px;
    background-color: #666;
    height: 50px;
    border-radius: 14px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .3);
}

 ::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .1);
}