html body {
    min-height: 500px;
    border: none;
}

.showMode {
    min-width: 10px;
    min-height: 5px;
    border: 1px #17824c dotted;
    background: #2a926217;
}

.showMode:hover {
    border: 1px #17824c solid;
    background: #2a92625e;
}