body {
    min-width: 1000px;
}

#mainPage {
    /* display: inline; */
    height: 100%;
}

#domList {
    width: 300px;
    height: 600px;
    overflow: auto;
    display: inline-block;
    border: 0;
}

#DemoPage {
    display: inline-block;
    width: calc(100% - 650px);
    height: 600px;
    overflow: auto;
}

iframe {
    width: 98%;
    height: 800px;
    background: #EEE;
    z-index: -60;
}

#attrEdit {
    width: 336px;
    height: 600px;
    overflow: hidden;
    display: inline-block;
}