html body {
    min-height: 500px;
    border: none;
}

.showMode {
    min-width: 10px;
    min-height: 5px;
    border: 1px #17824c dotted;
    background: #2a926217;
    cursor: pointer;
}

.showMode:hover {
    border: 1px #17824c solid;
    background: #2a92625e;
}

::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

::-webkit-scrollbar-thumb:hover {
    width: 14px;
    background-color: #666;
    height: 50px;
    border-radius: 14px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .3);
}

 ::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .1);
}